<div class="w-2/4 border-l-2 border-sky-800  flex justify-center items-center flex-col">
    <h2>Inicia Session</h2>
    <form class="flex flex-col" method="post">
        <p>Nombre de usuario</p>
        <input type="text" name="username">
        <p>Contraseña</p>
        <input type="password" name="password">
        <input type="submit" value="enviar">
    </form>
    <a href="/register">Crear Cuenta</a>
</div>