<!DOCTYPE html>
<html lang="en">
    <%-include("partials/header.ejs", {title:"Portfolio", user_id: user_id}) %>
    <div class="hero container max-w-screen-lg mx-auto pb-10 mt-10">
        <img class="mx-auto" src="/img/404.png">
    </div>
    <div class="flex h-screen justify-center items-center h-60 mt-[-50px]">
        <h1 class="text-4xl">The page you are trying to access does not exist or you do not have sufficient permissions</h1>
    </div>
    </body>
</html>