<!DOCTYPE html>
<html lang="en">
    <%-include("partials/header.ejs", {title:"Account", user_id: user_id}) %>
    <div class="flex m-10 mx-30">
        <div class="w-2/4 p-[5%]">
            <div class="flex m-[20px]">
                <img class="max-w-[100px] max-h-[100px] ml-[10px] mr-[30px]" src="/img/portfolio.png">
                <div>
                    <h3 class="font-bold text-3xl">Define your portfolio</h3>
                    <p class="text-lg">Add the cryptocurrencies you have to keep track of your investments.</p>
                    
                </div>
            </div>
            <div class="flex m-[20px]">
                <img class="max-w-[100px] max-h-[100px] mr-[20px]" src="/img/bitcoin.png">
                <div>
                    <h3 class="font-bold text-3xl">Get information about the projects</h3>
                    <p class="text-lg">View all the information you want about registered cryptocurrency projects on live.</p>
                </div>
            </div>
            <div class="flex m-[20px]">
                <img class="max-w-[100px] max-h-[100px] mr-[20px]" src="/img/favourite.png">
                <div>
                    <h3 class="font-bold text-3xl">Add your favorites</h3>
                    <p class="text-lg">Create a list of your favorite cryptocurrencies to keep them close.</p>
                </div>
            </div>
        </div>
        <% if(typeof context != 'undefined'){ %>
            <%-include(form,context)%>
        <% } else{ %>  
            <%-include(form)%>
        <% } %>
    </div>
</body>
</html>