<!DOCTYPE html>
<html lang="en">
    <%-include("partials/header.ejs", {title:"Account", user_id: user_id}) %>
    <div class="flex m-10 mx-30">
        <div class="w-2/4 p-[5%]">
            <div class="flex m-[20px]">
                <img class="max-w-[100px] max-h-[100px] ml-[10px] mr-[30px]" src="/img/portfolio.png">
                <div>
                    <h3 class="font-bold text-3xl">Define tu portfolio</h3>
                    <p class="text-lg">Añade las criptomonedas que tengas para hacer un seguimiento de tus inversiones.</p>
                    
                </div>
            </div>
            <div class="flex m-[20px]">
                <img class="max-w-[100px] max-h-[100px] mr-[20px]" src="/img/bitcoin.png">
                <div>
                    <h3 class="font-bold text-3xl">Obtén información sobre los proyectos</h3>
                    <p class="text-lg">Visualiza toda la información que desees sobre los proyectos de criptomonedas registrados en tiempo real.</p>
                </div>
            </div>
            <div class="flex m-[20px]">
                <img class="max-w-[100px] max-h-[100px] mr-[20px]" src="/img/favourite.png">
                <div>
                    <h3 class="font-bold text-3xl">Añade tus favoritas</h3>
                    <p class="text-lg">Crea una lista de tus criptomonedas favoritas para tenerlas más a mano.</p>
                </div>
            </div>
        </div>
        <% if(typeof context != 'undefined'){ %>
            <%-include(form,context)%>
        <% } else{ %>  
            <%-include(form)%>
        <% } %>
    </div>
</body>
</html>