<div id="modalwindow">
    <h1 class="font-bold">Are you sure to delete the portfolio: "<%= portfolio.name %>"?</h1>
    <div class="flex justify-center">
        <button onclick="deletePortfolio('<%= portfolio.portfolio_id %>')" class="rounded-xl p-[4px] pt-[2px] bg-[#FFC900]">Yes, I am sure</button>
    </div>
</div>