<html>
    <body>
        <h1 class="text-xl font-bold">Add a new portfolio</h1>
        <div class="flex text-center">
            <p class="mr-[10px]">Portfolio's name:</p>
            <input id="newPortfolioName" class="border-2 border-solid pl-[5px]" placeholder="Write here..." type="text">
        </div>
        <div class="mt-[5px] flex w-full justify-center">
            <button type="button" onclick="createPortfolio()" class="rounded-xl p-[4px] pt-[2px] bg-[#FFC900]">Create</button>
        </div>
    </body>
</html>